html
    head
        title= title
        meta(charset='UTF-8')
    body
        form(action="/postform" method="post")
        input(name="title")
        p
        textarea(name="context")
        p
        input(type="submit")

         