<% if (!user) { %>
	<a class = "btn" href="/auth/login">log in</a>
	<a class = "btn" href="/auth/register">Register</a>
	<a class = "btn" href='/auth/github'>GitHub</a>
<% } else { %>
	<p>Hello, <%= user.displayName %>. View your <a href="/auth/profile">profile</a>.</p>
<% } %>
