<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="row">
      <div class="col-md-12">
         <% include ./partials/login %>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4">
             <% include ./partials/nav %>
        </div>
        <div class="col-md-8">
             <% include ./partials/writeboard %>
        </div>  
    </div>

    <% include ./partials/footer %>
   
  </body>
</html>